body {
    background-color: hsl(0, 0%, 20%);
}

p {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

/* to ensure that the home page takes up the entire screen */
#home {
    width: 100%;
    height: 100%;
    overflow: hidden;
}